body {
	font-family: sans-serif;
	font-size: 32px;
}

h1 {
	text-align: center;
}

.initial-setup {
/*	display: flex; 
	justify-content: center;
*/
	text-align: center;
}

.game-tiles {
/*	display: flex; 
	justify-content: center;*/
	/*border: solid black;*/
}

.tile {

	font-size: 48px;
	width: 75px;
	height: 75px;
	display: inline-block;
	text-align: center;
	font-size: 36px;
	padding-top: 5px; 
	padding-bottom: 5px;

	border: solid black;
}



/*.tile:hover {
	border: dashed red;
	background-color: green;
}*/
